In [1]:
print('Bismillah')

Bismillah

In [ ]:
Concept Of DataFrames:

Syntax:
    pandas.DataFrame(data,index,columns,dtype,copy)

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Creating Empty Dataframe:

df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [4]:
#creating a DataFrame from a list:

data = ['Hameed','Jawa','Fareeza','Ismath','Irfan']
df = pd.DataFrame(data)

df

         0
0   Hameed
1     Jawa
2  Fareeza
3   Ismath
4    Irfan

In [ ]:
#Enhancing the code with names and their marks

In [7]:
data = [['Hameed',95],['Jawa',99],['Fareeza',98],['Irfan',94],['Ismath',93]]
df = pd.DataFrame(data,index = [1,2,3,4,5],columns = ['Name','Marks'],dtype = float)

df

      Name  Marks
1   Hameed   95.0
2     Jawa   99.0
3  Fareeza   98.0
4    Irfan   94.0
5   Ismath   93.0

In [ ]:
#Creating a Dataframe from a Dictionary of ndarrays/list

In [8]:
data = {'Name':['Hameed','Jawa','Fareeza','Ismath','Irfan'],'Age':[21,30,18,20,22]}
df = pd.DataFrame(data)

df

      Name  Age
0   Hameed   21
1     Jawa   30
2  Fareeza   18
3   Ismath   20
4    Irfan   22